<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iwb303">

    <application
        android:allowBackup="true"
        android:icon="@drawable/svu_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/svu_logo"
        android:screenOrientation="landscape"
        android:supportsRtl="false">
        <activity android:name=".ui.teacher.AddNewTeacherActivity"></activity>
        <activity android:name=".ui.teacher.GetTeacherActivity" />
        <activity android:name=".ui.dept.AddNewDeptActivity" />
        <activity android:name=".ui.dept.GetDeptActivity" />
        <activity android:name=".ui.student.AddNewStudentActivity" />
        <activity android:name=".ui.student.GetStudentActivity" />
        <activity
            android:name=".ManageAdminActivity"
            android:label="@string/title_activity_manage_admin"
            android:theme="@style/AppTheme1.NoActionBar"
            android:screenOrientation="landscape"/>
        <activity android:name=".ChooseTheme" />
        <activity
            android:name=".ManageStudent"
            android:label="@string/title_activity_manage_student" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>